* {
	color: black;
}
/*------------ HEADER ------------ */
nav {
	display: flex;
	justify-content: space-between;
}
.logo {
	margin-left: 25px;
	width: 100%;
	display: flex;
	align-items: center;
}
.logo img {
	width: 25%;
	margin-left: 25px;
}
.navigation {
	display: flex;
	justify-content: right;
	align-items: center;
	gap: 5em;
}
.navigation button {
	background-color: #6c3483;
	color: #d9d9d9;
	font-size: 1rem;
	text-align: center;
	padding: 0.7rem 2rem;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
	display: inline-block;
	transform-origin: center;
}

.navigation button:hover {
	transform: scale(1.1);
	box-shadow: 0 0 15px #6c3483;
}
.navigation a {
	text-decoration: none;
	color: aliceblue;
}
/*------------ BARRE DE RECHERCHE------------ */
.searchBar {
	display: flex;
	justify-content: left;
	border: none;
	position: relative;
	width: 250px;
	margin-top: 25px;
	margin-left: 25px;
}
.searchBar input {
	width: 100%;
	padding: 10px 40px 10px 10px;
	border-radius: 20px;
	border: none;
	background-color: #d9d9d9;
	color: black;
}
.searchBar button {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	border: none;
	background: none;
	cursor: pointer;
	color: rgb(46, 11, 11);
	font-size: 1rem;
}
/*------------ MAIN ------------ */
.catalogue {
	display: flex;
	gap: 85px;
	margin-top: 20px;
	margin-left: 25px;
}
/*------------ CARTES ------------ */
.animeCards {
	display: flex;
	flex-wrap: wrap;
	gap: 60px;
	margin-left: 50px;
}
.animeCards article {
	width: 250px;
	background-color: #000000;
	border-radius: 20px;
	transition: background 1s ease;
	transform-origin: center;
}
.animeCards article:hover {
	background: #6c3483;
	transform: scale(1.1);
	box-shadow: 0 0 30px #ecd9f3;
}

.animeCards img {
	width: 80%;
	padding-top: 30px;
}
.animeCards p {
	display: flex;
	margin-left: 20px;
}
/*------------ BARRE DE FILTRE ------------ */
.sideBar {
	display: flex;
	justify-content: left;
}
.sideBar aside {
	position: sticky;
	top: 50px;
	background-color: #000000;
	border-radius: 20px;
	width: 250px;
	height: 500px;
	padding-top: 10px;
}
.sideBar input {
	display: flex;
	justify-content: left;
	flex-direction: column;
	margin-left: 20px;
}
/*------------ CATEGORIE DE FILTRE ------------ */

.sideBar h4 {
	display: flex;
	justify-content: flex-start;
	margin-left: 20px;
}

.status {
	display: flex;
	gap: 20px;
}