.Cover {
	position: relative;
	width: 100%;
	height: 90vh; /* Occupe presque tout l'écran */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: start;
	padding: 50px;
	color: white;
}

.Cover::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 40%, rgba(0, 0, 0, 0) 100%);
	z-index: 1;
}

.Cover .text-section {
	position: relative;
	z-index: 2;
	max-width: 600px;
}

.Cover .text-section h2 {
	font-size: 3rem;
	margin-bottom: 20px;
}

.Cover .text-section h3 {
	font-size: 2rem;
	margin-bottom: 10px;
}

.Cover .text-section p {
	font-size: 1.2rem;
	margin-bottom: 20px;
	line-height: 1.6;
	color: #eee;
}

.Cover .text-section button {
	background-color: #6c3483;
	color: white;
	border: none;
	padding: 12px 24px;
	font-size: 1rem;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.Cover .text-section button:hover {
	background-color: #4b35a5;
}
