.watchlist-container {
	height: 100vh; /* prend toute la hauteur de la page */
	padding: 20px;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.bouton {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 40px;
	font-weight: bolder;
	flex-grow: 1; /* prend toute la hauteur dispo */
	align-content: start;
}

/* Quand la watchlist est vide, centrage parfait */
.bouton.empty {
	display: flex !important; /* override grid */
	flex-direction: column;
	justify-content: center; /* vertical centering */
	align-items: center; /* horizontal centering */
	height: 100%; /* prendre toute la hauteur dispo */
	text-align: center;
	gap: 30px;
}

.bouton button {
	font-size: 1rem;
	text-align: center;
	background-color: #733597;
	color: white;
	border: none;
	border-radius: 20px;
	padding: 1rem 2rem;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.2s ease;
	margin: 0 auto;
	display: inline-block;
}

.bouton button:hover {
	background-color: #8e2de2;
	transform: scale(1.05);
}

div p {
	font-size: 1.2em;
	font-weight: bold;
	margin: 0;
	text-align: center;
}

div h1 {
	font-size: 1em;
	font-weight: lighter;
	margin: 0;
}
