body {
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	font-family: "Arial", sans-serif;
	background: linear-gradient(to bottom, #a61c3c, #360533);
	color: white;
	min-height: 100vh;
	padding-bottom: 60px;
	}
